body{
background-color: rgb(202, 227, 200);
text-align: center;
}

h1{
    text-shadow: 20px;
}

.btn{
color: brown;
border-radius: 5px;
}

button:hover{
    padding: 2px 3px;
    background-color: #ffffff;
}

    .contenedor{
        background-color: rgb(212, 252, 204);
        color: black;
        width: 500px;
        padding: 12px;
        margin: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        border: 2px solid rgb(41, 68, 19);
    }
    .texto{
        font-size: medium;
        color: rgb(41, 68, 19);
        text-align: left;
    }